@page "/budget"

@using NewberryData.Services.Interfaces
@inject IBudgetReport reportService

<h1>Newberry Budget Report</h1>

@if (reportService == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Line Identifier</th>
                <th>Name</th>
                <th>Category</th>
                <th>Category Number</th>
                <th>Amount</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lineItem in reportData.Data)
            {
                <tr>
                    <td>@lineItem.Id</td>
                    <td>@lineItem.LineIdentifier</td>
                    <td>@lineItem.Name</td>
                    <td>@lineItem.Category</td>
                    <td>@lineItem.CategoryNumber</td>
                    <td>@lineItem.Amount</td>
                    <td>@lineItem.Year</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ReportResponse reportData;

    protected override async Task OnInitializedAsync()
    {
        reportData = await reportService.GetLineItemsAsync(new ReportRequest()
        {
            Category = "",
            Year = "2020"
        });
    }
}
